/*!
 * Rocklen Website v1.0.0-beta.0 (https://incanta.games/rocklen)
 * Copyright 2013-2019 Start Bootstrap
 * Copyright 2020-2021 Incanta Games
 * All Rights Reserved (https://github.com/IncantaGames/rocklen-website#copyright-and-license)
 */

#mainNav {
  min-height: 56px;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #2ba0f3;
  border: 1px solid #2ba0f3;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-brand #logo {
  height: 2.8em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#mainNav .navbar-brand #subtitle {
  font-size: 0.6em;
  margin-left: 0.5rem;
  font-weight: normal;
  display: block;
}

#mainNav .navbar-brand.vr-game {
  font-size: 0.7rem;
  font-weight: normal !important;
  position: absolute;
  left: 4rem;
  top: 3.2rem;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

#mainNav.navbar-shrink {
  background-color: #f5f5f5;
  box-shadow: 0 1px 20px 0 rgba(46, 61, 73, 0.2);
}

#mainNav.navbar-shrink #logo {
  opacity: 100;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: #161616;
  }
  #mainNav .navbar-brand.vr-game {
    position: initial;
    left: initial;
    top: initial;
    padding-top: 1.2rem;
    padding-bottom: 0;
  }
  #mainNav .nav-link {
    transition: none;
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav .nav-link:hover {
    color: #2ba0f3;
  }
  #mainNav .nav-link:active {
    color: #0b79c6;
  }
  #mainNav .nav-link.active {
    color: #2ba0f3;
    outline: none;
    border-bottom: 0.25rem solid #2ba0f3;
  }
}

@media (min-width: 768px) {
  #mainNav .navbar-brand #subtitle {
    vertical-align: sub;
    display: inline;
    font-size: 0.8em;
    margin-left: 1rem;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: url("../img/rocklen-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: "Varela Round";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead .logo {
  width: 50%;
}

.masthead h2 {
  max-width: 50%;
  font-size: 1.25em;
  text-shadow: 1px 1px #00000052;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    font-size: 2em;
    text-shadow: 2px 2px #00000052;
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #2ba0f3;
}

.btn-primary:hover {
  background-color: #0d87de;
}

.btn-primary:focus {
  background-color: #0d87de;
  color: white;
}

.btn-primary:active {
  background-color: #0b79c6 !important;
}

.about-section {
  padding-top: 10rem;
}

.about-section p {
  margin-bottom: 5rem;
  text-align: justify;
}

.curriculum-section {
  padding: 5rem 0;
}

.curriculum-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .curriculum-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #2ba0f3;
  }
}

.curriculum-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .curriculum-section .project-text {
    padding: 5rem;
  }
  .curriculum-section .project-text hr {
    border-color: #2ba0f3;
    border-width: .25rem;
    width: 30%;
  }
}

.curriculum-section .subjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.curriculum-section .subjects .subject {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.apply-section {
  padding: 6rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.apply-section .form-inline input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.apply-section .general-updates {
  padding-top: 1rem;
}

.apply-section .general-updates label {
  margin-left: 0.5rem;
  font-weight: bold;
}

.contact-section .social {
  margin-top: 2rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(22, 22, 22, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

.media-section {
  padding: 10rem 0;
}

.media-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .media-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #2ba0f3;
  }
}

.media-section .media-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .media-section .media-text {
    padding: 5rem;
  }
  .media-section .media-text hr {
    border-color: #2ba0f3;
    border-width: .25rem;
    width: 30%;
  }
}

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
  background-color: #f5f5f5;
}

a {
  color: #2ba0f3;
}

a:focus, a:hover {
  text-decoration: none;
  color: #0a6aae;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-pitch-black {
  background-color: #000 !important;
}

.bg-primary {
  background-color: #2ba0f3 !important;
}

.text-primary {
  color: #2ba0f3 !important;
}

footer {
  padding: 2rem 0;
}
