#mainNav {
  min-height: 56px;
  background-color: $offwhite;
  transition: background-color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
  .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: $primary;
    border: 1px solid $primary;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    color: $black;
    font-weight: 700;
    padding: .9rem 0;

    #logo {
      height: 2.8em;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    #subtitle {
      font-size: 0.6em;
      margin-left: 0.5rem;
      font-weight: normal;
      display: block;
    }

    &.vr-game {
      font-size: 0.7rem;
      font-weight: normal !important;
      position: absolute;
      left: 4rem;
      top: 3.2rem;
    }
  }
  .navbar-nav {
    .nav-item {
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  &.navbar-shrink {
    background-color: $offwhite;
    box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);

    #logo {
      opacity: 100;
    }
  }
  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    .navbar-brand {
      padding: .5rem 0;
      color: $black;

      &.vr-game {
        position: initial;
        left: initial;
        top: initial;
        padding-top: 1.2rem;
        padding-bottom: 0;
      }
    }
    .nav-link {
      transition: none;
      color: $black;
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
      &:hover {
        color: $primary;
      }
      &:active {
        color: darken($primary, 15%);
      }
      &.active {
        color: $primary;
        outline: none;
        border-bottom: 0.25rem solid $primary;
      }
    }
  }

  @media (min-width: 768px) {
    .navbar-brand {
      #subtitle {
        vertical-align: sub;
        display: inline;
        font-size: 0.8em;
        margin-left: 1rem;
      }
    }
  }
}
